# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# React
/node_modules
/build

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*.pyo
*.bak
*.tmp
*.sublime-workspace

# macOS
.DS_Store
