.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f0f2f5; /* Light grey background */
    padding: 20px;
  }
  
  .home-container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333; /* Darker text for contrast */
  }
  
  .home-container p {
    font-size: 1.2rem;
    color: #555; /* Slightly lighter text */
  }
  